Repository kawaunharvey/essential-accordion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --parser typescript --write --no-semi, eslint --cache --fix, bash -c tsc --project tsconfig.json --noEmit

prototype
  .yarnrc.yml
  package.json
  src/.story.tsx
  src/components/Item/index.ts
  src/components/Item/module.tsx
  src/components/Item/types.ts
  src/module.tsx
  src/types.ts
  yarn.lock
Due: prettier --write, prettier --parser typescript --write --no-semi, eslint --cache --fix, bash -c tsc --project tsconfig.json --noEmit

adds .eslintcache to .gitignore
  .gitignore
Due: none

shameless ai readme
  README.md
Due: prettier --write

accessibility + responsive changes
  src/components/Item/module.tsx
  src/components/Item/types.ts
  src/components/Item/utils.ts
  src/module.tsx
Due: prettier --parser typescript --write --no-semi, eslint --cache --fix, bash -c tsc --project tsconfig.json --noEmit

1.1.0
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss,md,json}
  prettier --parser typescript --write --no-semi: any of: *.{ts,tsx}
  eslint --cache --fix: any of: *.{ts,tsx}
  bash -c tsc --project tsconfig.json --noEmit: any of: *.{ts,tsx}
